.topContainer {
    height: 50vh;
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.minusL {
    height: 100%;
    width: 20%;
}

app-timer {
    height: 100%;
    width: 60%;
}

.minusR {
    height: 100%;
    width: 20%;
}

.botContainer {
    height: 50vh;
    display: flex;
}

.bLeft {
    height: 100%;
    width: 33%;
    padding: 10px;
}

.nameBadge {
    height: 30px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.scoreL {
    text-align: center;
    font-size: 100px;
    height: 80%;
}

.botMidCont {
    height: 100%;
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.to {
    height: 70%;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    margin: 0;
}

.refresh {
    height: 20%;
    background-color: transparent;
    border: none;
}

.bRight {
    height: 100%;
    width: 33%;
    padding: 10px;
}

.scoreR {
    text-align: center;
    font-size: 100px;
    height: 80%;
}

