.topContainer {
    height: 50vh;
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.minusL {
    height: 100%;
    width: 20%;
}

.timerContainer {
    height: 100%;
    width: 60%;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.timerText {
    font-size: 28vh;
    padding: 0px;
    margin: 0px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;
}

.fas {
    font-size: 15px;
    color: white;
}

button {
    background-color: transparent;
    border: 0;
}


.minusR {
    height: 100%;
    width: 20%;
}

.botContainer {
    height: 50vh;
    display: flex;
}

.bLeft {
    height: 100%;
    width: 33%;
    padding: 10px;
}

.nameBadge {
    height: 30px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.scoreL {
    text-align: center;
    font-size: 100px;
    height: 80%;
}

.to {
    height: 100%;
    width: 33%;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}

.bRight {
    height: 100%;
    width: 33%;
    padding: 10px;
}

.scoreR {
    text-align: center;
    font-size: 100px;
    height: 80%;
}